<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit</title>
</head>
<body>
<form th:method="POST" th:action="@{/admin/{id}(id=${user.getId()})}" th:object="${user}">
    <label for="name">Enter first name: </label>
    <input type="text" th:field="*{firstName}" id="name"/>
    <br/>
    <label for="lastname">Enter last name: </label>
    <input type="text" th:field="*{lastName}" id="lastname">
    <br/>
    <label for="age">Enter your age: </label>
    <input type="text" th:field="*{age}" id="age">
    <br/>
    <label for="email">Enter email: </label>
    <input type="text" th:field="*{email}" id="email">
    <br/>
    <label for="surname">Enter password: </label>
    <input type="text" th:field="*{password}" id="surname">
    <br/>
    <input type="checkbox" id="adminId" name="adminRole" value="ROLE_ADMIN">
    <label for="adminId">Admin</label>
    <br/>
    <input type="submit" value="Update!"/>
</form>
</body>
</html>