<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>
<table border="1">
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Surname</th>
        <th>Username</th>
        <th>Authorities</th>
        <th>Profile</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${users}">
        <td th:text="${user.getId()}"></td>
        <td th:text="${user.getName()}"></td>
        <td th:text="${user.getSurname()}"></td>
        <td th:text="${user.getUsername()}"></td>
        <td th:text="${user.getRoles()}"></td>
        <td>
            <form style="display: inline" th:method="GET" th:action="@{/admin/{id}(id=${user.getId()})}">
                <input type="submit" value="View profile"/>
            </form>
        </td>
        <td>
            <form style="display: inline" th:method="GET" th:action="@{/admin/{id}/edit(id=${user.getId()})}">
                <input type="submit" value="Edit user"/>
            </form>
        </td>
        <td>
            <form style="display: inline" th:method="DELETE" th:action="@{/admin/{id}(id=${user.getId()})}">
                <input type="submit" value="Delete user"/>
            </form>
        </td>

    </tr>
    </tbody>
</table>
<br/>
<form th:method="GET" th:action="@{/admin/new}">
    <input type="submit" value="Create user"/>
</form>
<br/>
<br/>
<form th:action="@{/logout}" method="post">
    <button type="submit">Sign Out</button>
</form>

<br/>
<hr/>
</body>
</html>