<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Show</title>
</head>
<body>
<p th:text="'ID: ' + ${user.getId()}">Value</p>
<p th:text="'Name: ' + ${user.getName()}">Value</p>
<p th:text="'Surname: ' + ${user.getSurname()}">Value</p>
<p th:text="'Username: ' + ${user.getUsername()}">Value</p>
<p th:text="'Authorities: ' + ${user.getRoles()}">Value</p>
<br/>
<a th:href="@{/admin/{id}/edit(id=${user.getId()})}">Edit</a>
<br/>
<form th:method="POST" th:action="@{/admin/{id}/delete(id=${user.getId()})}" th:object="${user}">
    <input type="submit" value="Delete">
</form>
<br/>
<br/>
<form th:action="@{/logout}" method="post">
    <button type="submit">Sign Out</button>
</form>
</body>
</html>